body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.clear-filter[filter-color="orange"] {
   background: none !important;
}
 .fixed-top {
  background-color: rgba(45, 55, 255, 0.6)!important;
 }
 .navbar-collapse:before {
  background:  linear-gradient(#2d37ff, #000 80%)!important;
}
.section-about {
  text-transform: uppercase;
  width: auto;
  height: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3rem;
}
.about {
  grid-column: 1;
  grid-row: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 20px;
  box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1), 
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
               margin-left: 2rem;
               margin-right: 2rem;
  }
  .about p {
   text-transform: initial;
   text-align: left;
   padding-left: 10px;
  }
 .main .gallery-content {
  display: grid;
  grid-column-gap: 0.5rem;
  padding: 0 1.5rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}

.gallery__img:hover {
  transform: scale(1.05);
  filter: none;
}
.gallery-1 {
  grid-column: 1 / span 2 ;
  grid-row: 1 / span 3; 
}

.gallery-2 {
  grid-column: span 2;
  grid-row: 1 / 3; 
}

.gallery-3 {
  grid-column: 5 / 7;
  grid-row: auto;
}

.gallery-4 {
  grid-column: 5 / 7;
  grid-row: auto;
  align-content: stretch;
}

.gallery-5 {
  grid-column: 7 / 9;
  grid-row: 1 / span 2;

}
.gallery-6 {
  grid-column: 9 / 11;
  grid-row: 1 / span 2;
}

.gallery-7 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
}

.gallery-8 {
  grid-column: 8 / span 3;
  grid-row: 3 / 4;
}

.gallery-9 {
  display: grid;
  grid-column: 5 / span 3;
  grid-row: 3 / span 1;
  grid-row-gap: 2.5rem;
  
}

.brand .h1-seo {
  font-size: 2.8em;
  font-weight: 400;
}

.main h3 {
  font-size: 2.8rem;
  color: rgba(114, 106, 106, 0.7);
  font-weight: 300;
  letter-spacing: 0.7em; 
  padding-bottom: 0.8em;
}

.card {
  grid-column: 1 / 12;
  grid-row: 4;
  margin-top: 1.75rem;
  box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1), 
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3)!important;
}
.card-title {
  text-transform: uppercase;
  
}
.closeup {
  line-height: 2;
  padding-right: 13rem;
}


.btn-primary {
  background-color:rgba(45, 55, 255, 0.6)!important;
  color: #fff;
}

.btn-primary:hover {
  background-color:rgba(114, 106, 106, 0.5);;
  color: #fff;
}
.btn-primary:visited {
  background-color:rgba(45, 55, 255, 0.6)!important;
}



